
.menu {
    width: 6.30rem !important;
    top: 0;
    bottom: 0;
    z-index: 2;
    position: fixed;
    background-color: #d6d6d6 !important;
    color: #522727 !important;
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

main {
    margin-left: 6.25rem !important;
}